---
import { getCollection } from 'astro:content';
import Layout from '@/layouts/Content.astro';

export async function getStaticPaths() {
  const contentEntries = await getCollection('content');
  return contentEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---
<Layout data={entry.data}>
	<div class="flex flex-col sm:items-center w-full p-[1rem]">
		<Content />
	</div>
</Layout>