---
import { useStoryblokApi } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';
import Layout from '@/layouts/Content.astro';
import isProduction from '@/lib/utils';

export async function getStaticPaths() {
  const storyblokApi = useStoryblokApi();

  const { data } = await storyblokApi.get('cdn/links', {
    version: isProduction() ? 'published' : 'draft',
  });
  let links = data.links;
  links = Object.values(links);

  return links.map(({ slug }: { slug: string }) => {
    return {
      params: {
        slug: slug === 'home' ? undefined : slug,
      },
    }
  })
};

const { slug } = Astro.params;

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get(
  `cdn/stories/${slug === undefined ? 'home' : slug}`,
  {
    version: 'draft',
  }
);

const story = data.story;
---
<Layout data={story.content}>
	<div class="
    flex flex-col sm:items-center grow
    w-full p-[0.5rem] sm:p-[1rem]
">
		<StoryblokComponent blok={story.content} />
	</div>
</Layout>