---
import { useStoryblokApi } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';
import Layout from '@/layouts/Content.astro';

const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get('cdn/stories/home', {
  version: import.meta.env.DEV ? "draft" : "published",
});
const content = data.story.content;
---
<Layout>
	<div class="flex flex-col sm:items-center w-full p-[1rem]">
		<StoryblokComponent blok={content} />
	</div>
</Layout>